@use '../../../styles/_var'
@use '../../../styles/_mixin'

.take-quiz
    width: 100%
    display: flex
    flex-direction: column
    align-items: center

    .outer-content-wrapper
        display: flex
        flex-direction: column
        align-items: flex-start
        width: 33rem
        padding: 1rem
    
        .title
            margin-bottom: 2.5rem
            margin-left: 5.8rem

        .inner-content-wrapper
            width: 100%
            display: flex
            flex-direction: row
            align-items: center
            gap: 2rem

            
            .arrow
                font-family: 'Poppins'
                font-size: 2.6rem
                font-weight: 300
                color: var.$c-text-secondary
                width: 3.9rem
                height: 3.3rem
                display: flex
                justify-content: center
                align-items: center
                flex: 0 0 auto
            
            .arrow:hover
                cursor: pointer
            
        .submit-button
            align-self: center
            margin-top: 2rem