@use '../../../styles/_var'
@use '../../../styles/_mixin'

.button
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    border-radius: var.$round-corners

.button-style-1
    background: var.$c-brand-primary
    @include mixin.text-button-1

.button-style-2
    background: var.$c-shade-primary
    @include mixin.text-button-2
    border: var.$stroke solid var.$c-shade-secondary

.button-style-3
    background: none
    @include mixin.text-button-2
    border: var.$stroke solid var.$c-shade-secondary

.button-size-1
    font-size: 0.9rem
    padding: 0.32rem 0.5rem

.button-size-2
    font-size: 0.7rem
    padding: 0.15rem 0.35rem