@use 'var.sass'

@mixin text-logo
    font-family: 'Unbounded', 'Open Sans', sans-serif
    font-weight: 500
    color: var.$c-brand-primary
    font-size: 1.5rem

@mixin text-1
    font-family: 'Prompt', 'Open Sans', sans-serif
    font-weight: 400
    color: var.$c-text-primary

@mixin text-2
    font-family: 'Open Sans', 'Roboto', sans-serif
    font-weight: 600
    color: var.$c-text-primary

@mixin text-3
    font-family: 'Roboto', 'Arial', sans-serif
    font-weight: 500
    color: var.$c-text-primary

@mixin text-4
    font-family: 'Roboto', 'Arial', sans-serif
    font-weight: 500
    color: var.$c-text-secondary

@mixin text-thin
    font-family: 'Roboto', 'Arial', sans-serif
    font-weight: 300
    color: var.$c-text-primary

@mixin text-button-1
    font-family: 'Roboto', 'Arial', sans-serif
    font-weight: 500
    color: var.$c-text-contrast

@mixin text-button-2
    font-family: 'Roboto', 'Arial', sans-serif
    font-weight: 500
    color: var.$c-text-primary