@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Prompt:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&family=Unbounded:wght@300;400;500&display=swap')

$c-brand-primary: #6133EF
$c-brand-primary-light: #e0dcff

$c-background: #F7F7F2
$c-background-text-input: white

$c-shade-primary: white
$c-shade-secondary: #b2b2b2
$c-shade-tertiary: #3A3A3A


$c-text-primary: #282828
$c-text-secondary: #5B5B5B
$c-text-contrast: white


$drop-shadow: 0px 0.5px 1.5px rgba(0, 0, 0, 0.45)
$round-corners: 5px
$stroke: 0.9px
$grid-gap: 1.4rem

$content-container-padding: 1.5rem