@use '../../../styles/_var'
@use '../../../styles/_mixin'

h3
    @include mixin.text-2
    font-size: 1rem
    margin: 0

h1
    margin-top: 0.15rem
    @include mixin.text-1
    font-size: 1.7rem
    margin-bottom: 0rem

.title
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    margin-top: 2rem