@use '../../../styles/_var'
@use '../../../styles/_mixin'

.single-answer-input-wrapper
    padding: 0.6rem 1.8rem
    width: 100%
    box-sizing: border-box
    display: flex
    flex-direction: column

    .page-number
        @include mixin.text-4
        font-size: 0.9rem
        margin-bottom: 1.4rem

    .question
        margin-bottom: 1.8rem
        @include mixin.text-2
        font-size: 1.3rem

    .answer-label
        @include mixin.text-4
        font-size: 0.9rem
        margin-bottom: 0.8rem
        margin-top: 1.9rem
    
    .answer-wrapper
        margin-bottom: 2.5rem
        display: flex
        flex-direction: column

        .text-area-wrapper
            margin-bottom: 1rem

        .text-area
            @include mixin.text-4
            font-size: 0.9rem