@use '../../../styles/_var'

.cards-container-cols-max3
    padding: var.$content-container-padding
    display: grid
    grid-template-columns: repeat(3, minmax(100px, 1fr))
    grid-gap: var.$grid-gap
    margin-top: 1.2rem