@use '../../../styles/_var'
@use '../../../styles/_mixin'

.subject
    width: 100%
    display: flex
    flex-direction: column
    align-items: center

    .content
        padding: var.$content-container-padding-top var.$content-container-padding-side
        box-sizing: border-box
        display: flex
        flex-direction: column
        align-items: flex-start
        width: 100%
        max-width: 53rem

        .top-wrapper
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            width: 100%

            .title
                margin-bottom: 2rem

            .button-wrapper
                display: flex
                flex-direction: row
                gap: 0.8rem
        
        .cards-container
            width: 100%


@media screen and (max-width: 1200px)
    .subject
        .back-button
            position: relative
            margin-bottom: 0
        .title
            margin-top: 0
        