@use '../../../styles/_var'
@use '../../../styles/_mixin'

.subject
    width: 100%
    display: flex
    flex-direction: column
    align-items: center

    .back-button
        position: absolute
        align-self: flex-start
        margin: 1.5rem 2rem

    .outer-content-wrapper
        padding: var.$content-container-padding-top var.$content-container-padding-side
        box-sizing: border-box
        display: flex
        flex-direction: column
        align-items: flex-start
        width: 100%
        max-width: 53rem

        .title
            margin-bottom: 2rem
        
        .cards-container
            width: 100%